{% macro menu(items) %}
    <nav class="menu">
        <ul class="flex items-center gap-6">
            {% for link in items %}
                {% if link.children %}
                <li x-data="{ isOpen: false }" class="menu__item">
                    <a @click.prevent="isOpen = !isOpen" href="{{ link.url }}" class="flex items-center">
                        <span>{{ link.title }}</span>
                        {{ icon("caret-down", "ml-2 size-sm") }}
                    </a>

                    {% if link.children %}
                    <ul x-show="isOpen" @click.outside="isOpen = false" x-transition class="menu__dropdown | flow flow-space-2">
                        {% for child in link.children %}
                        <li>
                            <a href="{{ child.url }}">{{ child.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% else %}
                <li class="menu__item">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
